{% extends 'base.html' %}

{% block pagination %}
{% endblock pagination %}

{% block content %}
<main>
    <h1>Your shopping list!</h1>
    <ul>
        {% for item in shopping_list_items %}
        <li>{{ item.food_item.name }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="{% url "delete_all_shopping_items" %}">
        {% csrf_token %}
        <button> Delete Shopping List (ALL)</button>
    </form>
</main>
{% endblock content %}
