{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
    <main class="recipe-detail">
        <h1>{{ details_of_meal_plan.name }}</h1>
        <ul>
            {% for recipe in details_of_meal_plan.recipes.all %}
                <li>
                    <a href="{% url 'recipe_detail' recipe.pk %}" >{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <p>{{ details_of_meal_plan.date }}</p>
        <p>{{ details_of_meal_plan.owner }}</p>
        <p>{{ details_of_meal_plan.recipes }}</p>
    </main>
{% endblock content %}
