{% extends 'base.html' %}


{% block content %}
<main class="recipe-grid">
  {% for meal_plan in list_of_meal_plans %}

      <a href="{% url "meal_plans_detail" meal_plan.pk %}">{{ meal_plan.name}}</a>
    <div class="recipe-card">
      <p class="recipe-card-date">{{ recipe.updated }}</p>
    </div>
  {% endfor %}
</main>
{% endblock content %} {% comment %} href="{% url "meal_plan_detail"
meal_plan.pk %}" {% endcomment %}
